# Основные файлы с секретными данными
*.env
*.session
*.session-journal
instructions.txt

# Виртуальное окружение Python
.ipynb_checkpoints/
venv/
__pycache__/
.idea

# Конфигурационные файлы для библиотек и инструментов
*.log
*.tmp
*.ipynb
