# Основные файлы с секретными данными
*.env
*.session
instructions.txt

# Виртуальное окружение Python
.ipynb_checkpoints/
venv/
__pycache__/

# Конфигурационные файлы для библиотек и инструментов
*.log
*.tmp

